:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 100vh;
    display: flex; /* Adiciona flexbox para alinhamento */
    flex-direction: column; /* Coloca os itens em uma coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

.container__caixa {
    margin: 0 6em;
    text-align: center; /* Centraliza o texto dentro do contêiner */
}

.container__imagem {
    margin: 1em 0 2em 0; /* Ajusta o espaçamento ao redor da imagem */
}

.container__botao {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    color: var(--branco-principal);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1em; /* Adiciona margem abaixo do botão */
}

.botao_azul {
    background-color: var(--botao-azul);
    border: none;
    color: var(--branco-principal);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 1em 0; /* Adiciona margem acima e abaixo do botão azul */
}
